* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* HOME */

section.menu {
    max-width: 1330px;
    margin: auto;
}

.underline {
    background-color: #0d6efd;
    height: 3px;
    width: 100%;
}

.menu li:first-child {
    margin-left: 40px;
}

body {
    background-image: url(../images/assets-cached.jpg);
    background-size: cover;
    height: 100%;
}
.nav-item a {
    color: white;
}
.nav-item a:hover {
    color: rgb(168, 165, 165);
}
.container {
    display: flex;
    max-width: 1330px;
}
.underline-main {
    background-color: #0d6efd;
    height: 3px;
    width: 350px;
    margin: 10px 0 20px 0;
}
.chamado-main {
    padding-top: 10%;
}
.chamado-main p {
    color: rgb(255, 253, 253);
    font-size: 18px;
}

.chamado-main h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.chamado-main h1 {
    color: rgb(255, 255, 255);
    font-size: 33px;
}
.btn-sobre {
    color: white;
    padding: 12px 23px;
    background-color: #0d6efd;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
}
.btn-sobre a {
    text-decoration: none;
    color: white;
}

.btn-sobre:hover {
    background-color: #0646a6;
    color: rgb(168, 165, 165);
}
.main-image img {
    margin-left: 190px;
    padding-top: 5%;
}

#rodape {    
    position:absolute;
    bottom:0; 
    width: 100%;
}

#navbarText .active {
    color: rgb(168, 165, 165);
}

/* ABOUT */

.about-text {
    padding-top: 80px;
    color: rgb(218, 214, 214);
    font-size: 20px;
    line-height: 33px;
}
.about-text h1 {
    color: rgb(255, 255, 255);
}

.about-image img {
    width: 450px;
    padding-top: 180px;
    margin-left: 60px;
}
.underline-about {
    background-color: #0d6efd;
    height: 3px;
    width: 350px;
    margin: 10px 0 20px 0;
}

/* FORMAÇAO */
.formacao-details:first-child {
    margin-right: 45%;


}
.formacao-details h1  {
    color: white;
    margin-top: 100px;
}
.formacao-details li {
    color: rgb(218, 214, 214);
    margin-top: 20px;
    font-size: 22px;
}
.formacao-details p {
    color: rgb(218, 214, 214);
    margin-top: 20px;
    font-size: 22px;
}
.underline-details { 
    background-color: #0d6efd;
    height: 3px;
    width: 250px;
}

/* CONTATO */
section.contato-main {
    display: flex;
    max-width: 1330px;
    margin: auto;
}
.chamado-contato h1 {
    color: white;
    font-size: 130px;
    margin-top: 100px;
}

.underline-contato {
    background-color: #0d6efd;
    height: 4px;
    width: 600px;
    margin: 10px 0 20px 0;
}

.form-contat {
    margin-top: 60px;
}
input {
    border: none;
    border-bottom:1px solid white;
    border-radius: 0;
    margin-bottom: 25px;
    font-size: 15px;
}
input:focus, textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
label {
    border-bottom: 1px solid #0d6efd;
    width: 50px;
}
textarea {
    border: none;
    border-bottom:1px solid white;
    border-radius: 0;
}
label { 
    font-size: 15px;
}
